<!DOCTYPE html>
<html lang="fr">

<head>
    {{ encore_entry_link_tags('bundle_app') }}
</head>

<body>
    <div id="app">
        <v-app>
            <m-header locale="en" />
        <v-app>
    </div>
</body>

    {{ encore_entry_script_tags('bundle_app') }}

</html>
